.city-item {
    line-height: 4rem;
    height: 4rem;
    background-color: #fff;
    font-size: 1.4rem;
    padding-left: 10px;
    color: #494949;
    border-bottom: .5px solid #e4e4e4;
    &:last-child{ 
        border-bottom: none;
    }
    display: flex;
    justify-content: space-between;
    .item-right {
        display: flex;
        justify-content: center; 
        align-items: center;
        color: #fd6857;
    }
}