
.category {
    .am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon {
        margin-top: 0px; 
        width: 60%!important;
    }
    .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content .am-grid-text {   
        font-size: 1.4rem;
        color: #282828;
    }
}
