.dashboard {
    display: flex;
    height: 100%;
    flex-direction: column;
    .main {
        flex:1;
        overflow: auto;
    }
    .main::-webkit-scrollbar {
        display: none;
    }
    .am-tab-bar {
        height: auto;
    }
}