//演出卡片
.show-card {
    position: relative;
    display: flex;
    padding: 6.5rem 2.5rem 2.5rem;
    background: #ccc;
    .card-img {
        width: 10.5rem;
        height: 13.7rem;
        z-index: 2; 
        border-radius: 0.5rem;
        background-size: cover;
    }
    .card-detail {
        flex: 1;
        display: flex;       
        flex-direction: column;
        color: #fff;
        z-index: 2;
        padding-left: 1.2rem;
        height: 13.7rem;
        .row {            
            flex: 1;
            display: flex;            
            flex-direction: column;
        }
        .name {
            line-height: 2rem;
            max-height: 6rem;
            font-size: 1.4rem;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
        .tags {
            margin-bottom: 1rem;
            .tag {
                width: 4.2rem;
                height: 1.8rem;
                line-height: 1.8rem;
                border-radius: 0.5rem;
                border: 1px solid #fff;
                text-align: center;
                float: left;
                margin-right: .8rem;
                font-size: 1.1rem;
            }
        }
        .price {
            height: 3rem;
            .number {
                line-height: 3rem;
                font-size: 2.2rem;
                display: inline-block;
                padding-right: .5rem;
            }
            .text {
                font-size: 1rem;
                display: inline-block;
            }
        }
    }
    .card-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 1;
        background-color: rgba(0,0,0,0.3);
        .img-holder {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 200%;
            filter: blur(22px);
            // transform: scale(2);
        }
        .img-border {    
            position: absolute;
            bottom: 0px;       
            background-size: 100% 100%;
            width: 100%;
            height: 1rem;
        }
    }
    .card-discount {
        position: absolute;
        bottom: -1rem;
        right: 12%;
        z-index: 2;
        width: 5rem;
        height: 5rem;
        border-radius: 5rem;       
        background: linear-gradient(to bottom,#ef6856,#ff3165);
        box-shadow: 0 0.5rem 1rem 0 rgba(253,104,87,.39);
        font-size: 1.2rem;
        text-align: center;
        color: #fff;
        .number {
            font-size: 2rem;
            padding-top: .8rem;
            line-height: 2rem;
        }
    }
}